body {
    background: #282828;
    font-family: 'Anonymous Pro', monospace;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 46px;
/* or 187% */
    letter-spacing: -0.05em;
    color: #595959;
    margin-top: -1.5em;
}

section.hero {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -30px -0px;
}

section.social {
    display: flex;
    justify-content: space-around;
}

section.social a {
    color: #595959;
    font-size: 23px;
    margin-left: 8px;
}

.twitter a:hover {
    color: #03A9F4;
}

.reddit a:hover {
    color: #FF4500;
}

section.social div {
    display: flex;
    justify-content: center;
    align-items: center;    
}

span.logo {
    max-width: 693px;
}

@media only screen and (max-width: 414px) {
    h1 {
        font-size: 12px;   
    }

    section.social a {
        font-size: 12px; 
    }

    section.social img {
        width: 16px;
        height: 16px;
    }
}